* {
  position: relative;
  margin: 0;
  padding: 0;
}

td {
  background-color: rgb(163, 126, 47);
  width: 65px;
  height: 65px;
  text-align: center;
}

.red-checker {
  position: relative;
  width: 50px;
  height: 50px;
  margin: auto;
  border: 5px solid rgb(128, 0, 0);
  border-radius: 45px;
  background-color: red;
  z-index: 3;
  pointer-events: all;
}

.red-checker::before {
  content: '';
  position: absolute;
  border: 2px solid rgb(128, 0, 0);
  border-radius: 50px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  transform: scale(0.9);
  z-index: 2;
}

.red-king {
  border: none;
  content: '';
  position: absolute;
  background-image: url('crown.png');
  background-size: cover;
  background-position: center;
  transform: scale(0.6);
  filter: opacity(0.5) drop-shadow(0 0 0 rgb(255, 0, 0));
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: 2;
}

.black-checker {
  position: relative;
  width: 50px;
  height: 50px;
  margin: auto;
  border: 5px solid rgb(5, 5, 5);
  border-radius: 45px;
  background-color: rgb(45, 45, 45);
  pointer-events: all;
  z-index: 3;
  transition: all 0.5s;
}

.black-checker::before {
  content: '';
  position: absolute;
  border: 2px solid rgb(5, 5, 5);
  border-radius: 50px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  transform: scale(0.9);
  z-index: 2;
}

.black-king {
  border: none;
  content: '';
  position: absolute;
  background-image: url('crown.png');
  background-size: cover;
  background-position: center;
  transform: scale(0.6);
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: 2;
}

.brown-cell {
  background-color: rgb(82, 53, 32);
  transition: all 0.3s;
}

.selected {
  /* border: 1px solid yellow; */
  box-shadow: 0px 0px 15px 5px #ffd154;
  transition: 0.3s;
}

.select-move {
  position: relative;
  box-shadow: 0px 0px 5px 5px inset #ffc954dc;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: 1;
  animation-name: movesquare;
  animation-iteration-count: 120;
  animation-duration: 1s;
  transition: all 0.2s;
}

@keyframes movesquare {
  0% {
    opacity: 100;
    box-shadow: 0px 0px 5px 5px inset #ffc954dc;
  }
  50% {
    opacity: 100;
    box-shadow: 0px 0px 5px 0px inset #ffc954dc;
  }
  100% {
    opacity: 100;
    box-shadow: 0px 0px 5px 5px inset #ffc954dc;
  }
}

#game-table::before {
  content: '';
  background-image: url('wood_pattern.png');
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: 1;
  mix-blend-mode: multiply;
}

#game {
  position: relative;
}

#game-table {
  margin: auto;
  z-index: 0;
  border-collapse: collapse;
}
